.weather {
    color:#043d04;
    width: 100%;
    height: 25rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.weather-img{
    width: 15rem;
    height: 15rem;
    
}